<%- include("formsHeader"); %>

<h1>Staff Forms</h1>
<div class="announcements row ">
<% staffApplicants.forEach(applicant =>{ %>
  <div class="blockquote col-lg-4"">
  <p> Full Name:  <%= applicant.fullName %> </p>
  <p> Mobile Number:  <%= applicant.mobileNumber %> </p>
  <p> Discord Name:  <%= applicant.discordName %> </p>
  <p> Email:  <%= applicant.email %> </p>
  <p> Previous Experience:  <%= applicant.previousExperience %> </p>
</div>
<% }); %>
</div>
<%- include("footer"); %>
