<%- include("formsHeader"); %>
<h1>Tournamnet Forms</h1>
<div class="announcements ">
<% tournamentApplicants.forEach(applicant =>{ %>
  <div class="blockquote">
  <p> Name:  <%= applicant.discordName %> </p>
  <p> Email:  <%= applicant.email %> </p>
  <p> Type Of Tournament:  <%= applicant.typeOfTournament %> </p>
</div>
<% }); %>
</div>
<%- include("footer"); %>
